*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
