@import "tailwindcss";

@theme {
  /* Fonts */
  --font-heading: "Source Serif 4", "sans-serif";
  --font-body: "roboto", "sans-serif";

  /* Colors */
  --color-primary-ultra-light: oklch(0.9891 0.0035 219.53);
  --color-primary-light: oklch(0.9579 0.006 223.46);
  --color-primary-normal: oklch(0.877 0.0213 236.79);
  --color-primary-medium: oklch(0.5505 0.0551 236.4);
  --color-primary-dark: oklch(0.2655 0.045 240.15);

  --color-secondary-ultra-light: oklch(0.9858 0.0045 78.3);
  --color-secondary-light: oklch(0.9656 0.0091 78.28);
  --color-secondary-normal: oklch(0.8864 0.0219 76.52);
  --color-secondary-medium: oklch(0.6599 0.0556 76.16);
  --color-secondary-dark: oklch(0.4275 0.0618 74.86);

  --color-gray-light: oklch(0.9791 0 0);
  --color-gray-medium: oklch(0.8297 0 0);
  --color-gray-dark: oklch(0.4926 0 0);

  --color-delete-normal: oklch(0.4954 0.1948 28.33);
  --color-delete-medium: oklch(0.416 0.1655 28.56);
  --color-success-light: oklch(0.9409 0.0548 145.94);
  --color-success-normal: oklch(0.5091 0.1686 142.79);

  /* Shadows */

  --shadow-dropdown: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  --shadow-card: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

@layer base {
  body,
  input,
  textarea {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
    font-weight: 500;
  }

  h4,
  h5 {
    font-family: var(--font-body);
    font-weight: 500;
  }

  button {
    cursor: pointer;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  a {
    @apply focus:border-primary-dark rounded-xl transition-colors duration-200 focus:border-2 focus:outline-none;
  }
}

@layer components {
  .btn {
    @apply focus-visible:ring-primary-dark rounded-xl px-4 py-2 text-lg transition-all duration-300 ease-in-out focus-visible:ring-2 focus-visible:outline-none;
  }

  .btn_primary {
    @apply bg-primary-dark hover:bg-primary-medium text-white;
  }

  .btn_secondary {
    @apply bg-primary-light hover:bg-primary-normal border-primary-dark text-primary-dark border-2;
  }

  .btn_delete {
    @apply text-delete-normal hover:bg-delete-normal border-delete-normal border-2 bg-white hover:text-white;
  }

  .btn_disabled {
    @apply bg-gray-medium text-gray-dark;
  }

  .btn_round {
    @apply bg-primary-dark hover:bg-primary-medium flex w-fit items-center justify-center rounded-full p-3 text-white transition-all duration-300 ease-in-out focus-visible:ring-2 focus-visible:outline-none;
  }

  .btn_search {
    @apply bg-primary-dark hover:bg-primary-medium flex w-[50px] items-center justify-center rounded-e-xl text-lg text-white transition-all duration-300 ease-in-out focus-visible:ring-2 focus-visible:outline-none;
  }

  .btn_search_disabled {
    @apply bg-gray-medium text-gray-dark flex w-[50px] items-center justify-center rounded-e-xl text-lg;
  }

  .btn_tag {
    @apply bg-secondary-dark text-sm font-normal text-white;
  }

  .btn_close {
    @apply hover:bg-primary-light flex h-8 w-8 items-center justify-center rounded-full transition-all duration-300 ease-in-out focus-visible:ring-2 focus-visible:outline-none;
  }
}

@layer utilities {
  .open_dropdown {
    @apply max-h-[400px];
  }

  fieldset:disabled input {
    @apply text-gray-medium bg-gray-light;
  }

  input:disabled {
    @apply text-gray-medium bg-gray-light;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 0.25s ease forwards;
  }

  .fade-out {
    opacity: 1;
    animation: fadeOut 0.25s ease forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
}
